<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


	Home <%= link_to "home", root_path %>!
	About Us <%= link_to "here", about_path %>!
	Contact Us <%= link_to "click me", contact_path %>!</p>

	<%= yield %>

</body>
</html>
